

#content{
  margin-top: 10em; 
}
@media(max-width:576px){
  #content{
    margin-top: 75px;
    padding: 0px;
  }
  #tab_events, #tab_users{
    padding-left: 0;
    padding-right: 0; 
  }
  #search_admin_users, 
  #search_admin_events{
    padding-left:0px;
    padding-right: 0px 
  }
}

#jumbotron_admin h1{
  padding-left: 5%;
  overflow: auto;
}

#jumbotron_admin .table{
  margin-left: 14px !important ;
  margin-right:14px !important ;
  display: grid;
  overflow-x: scroll;
}

#tab_events td, 
#tab_users td{
  overflow: auto; 
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  padding: 0;
}

input[type="text"], 
input[type="email"], 
input[type="password"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
select.custom-select {
  color: white;
  background-color: #444;
  border: 1px solid #444;
  border-radius: 0px 5px 5px 0px;
}
textarea.form-control{
  color: white;
  background-color: #444;
  border: 1px solid #444;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
textarea.form-control:focus,
select.custom-select:focus {
  color: white;
  background-color: #303030;
}

select#type.custom-select, 
select#category.custom-select, 
#event_data input[type="text"], 
#event_data input[type="email"], 
#event_data input[type="time"], 
#event_data input[type="date"],
#event_data select.custom-select,
#user_info_container input[type="text"], 
#user_info_container input[type="email"], 
#user_info_container select.custom-select 
{
  border-radius: 5px 5px 5px 5px;
}
@media(max-width:991px){
  #container_user{
    text-align: center;
  }
}
@media(max-width:400px){
  #event_friend_tabs{
    padding: 0px;
  }
}
#btn_confirm_edit_profile,
#btn_cancel_edit_profile{
  width: 120px;
}

#input_city, 
#input_country {
  min-width: 100%;
  border-radius:5px;
  margin: 5px 0px;
}

div#jumbotron_register {
  max-width: 700px;
}
div#jumbotron_login{
  max-width: 500px;
}
div#jumbotron_admin{
  padding: 2rem 0;
}

.fileContainer {
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  width: 127px !important;
  height: 36px !important;
  background: #444;
  border-color: #444; 
  text-align: center;
  border-radius:5px;
  padding: .2em;
}


.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.imageContainer {
  overflow: hidden;
  position: relative;
  font-weight: bold;
  width: 127px !important;
  height: 36px !important;
  background: #444;
  border-color: #444; 
  text-align: center;
  border-radius:5px;
  padding: .4em;
}
.imageContainer [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.images_uploaded{
  width: 100px;
  border: none;
  margin: 5px 5px; 
}

.jumbotron_image{
  max-height: 210px;
  background: #303030; 
  overflow-y: scroll;
}

figure {
  display: block;
  height: 150px;
  width: 270px;
  overflow: hidden;
  margin: 0;
}

figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, #375a7f);
  margin-top: -150px;
  height: 150px;
  content: '';
}

figure-details {
  display: block;
  height: 80px;
  width: 270px;
  overflow: hidden;
  background-color: #375a7f;
}

.content {
  display: block;
  position: relative;
  height: 230px;
  width: 270px;
  margin-bottom: 18px;
  overflow: hidden;
}

.content-lg {
  display: block;
  position: relative;
  height: 240px;
  margin-bottom: 14px;
  overflow: hidden;
}
@media(max-width:991px) {
  .content-lg {
    max-width: 400px;
  }
}

.content-overlay {
  background: linear-gradient(to bottom, transparent, #000);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-details {
  top: 85%;
  left: 50%;
  opacity: 1;
}

.list {
  border: 1px solid #375a7f;
  border-radius: 5px;
  background-color: transparent;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 250px;
  width: 400px;
  position: absolute;
}


fieldset,
label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating>input {
  display: none;
}

.rating>label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */

.rating:not(:checked)>label:hover,
/* hover current star */

.rating:not(:checked)>label:hover~label {
  color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */

.rating>input:checked~label:hover~label {
  color: #FFED85;
}



.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}

.error-container>span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}

.error-container>span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.error-container>span:nth-of-type(1) {
  color: #D1F2A5;
  animation: colordancing 4s infinite;
}

.error-container>span:nth-of-type(3) {
  color: #F56991;
  animation: colordancing2 4s infinite;
}

.error-container>span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}

.error-container>span:nth-of-type(2):before,
.error-container>span:nth-of-type(2):after {
  border-radius: 0%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 999px;
  box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}

.error-container>span:nth-of-type(2):before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4), inset 0 30px 0 rgba(209, 242, 165, 0.4), inset -30px 0 0 rgba(239, 250, 180, 0.4), inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
    box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4), inset 0 30px 0 rgba(245, 105, 145, 0.4), inset -30px 0 0 rgba(209, 242, 165, 0.4), inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
    box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4), inset 0 30px 0 rgba(255, 196, 140, 0.4), inset -30px 0 0 rgba(245, 105, 145, 0.4), inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4), inset 0 30px 0 rgba(239, 250, 180, 0.4), inset -30px 0 0 rgba(255, 196, 140, 0.4), inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}

@keyframes colordancing {
  0% {
    color: #D1F2A5;
  }
  25% {
    color: #F56991;
  }
  50% {
    color: #FFC48C;
  }
  75% {
    color: #EFFAB4;
  }
  100% {
    color: #D1F2A5;
  }
}

@keyframes colordancing2 {
  0% {
    color: #FFC48C;
  }
  25% {
    color: #EFFAB4;
  }
  50% {
    color: #D1F2A5;
  }
  75% {
    color: #F56991;
  }
  100% {
    color: #FFC48C;
  }
}

/* demo stuff */

#error_page 
html,
button,
input,
select,
textarea {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #92a4ad;
}

#error_page 
h1 {
  text-align: center;
  margin: 30px 15px;
}

#error_page 
.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}

#error_page .link-container {
  text-align: center;
}

#error_page a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #92a4ad;
  padding: 10px 15px;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}



/* Popup container */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */

.popup .popuptext {
  visibility: hidden;
  width: 420px;
  height: 240px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 6px 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class - hide and show the popup */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}