.main-container{
    margin-top:100px;
}
/*
.containerImgEvent{
    margin-top:55px;
    padding: 0rem 0rem;
}

@media screen and (min-width: 800px) {
    .containerImgEvent {
        padding-top: 2rem;
        padding-bottom: 2rem ;
    }

}*/
body {
    position: relative;
}


@media (min-width: 768px) {
    .infoEvent {
        top: 65px;
    }
}


/*navbar stuff*/
@media screen and (max-width: 400px) {
    .initial2 .nav-link {
        padding: .3rem 0.6rem;
    }
}

.initial2 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.initial2 .nav-link {
    color: #495057;
    border-style: solid ;
    border-bottom: thin;
}

.initial2 .nav-item.show .nav-link
.initial2 .nav-link.active {
    color: #495057;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.collapse-stuff{
    text-align: justify;
}

/* carousel stuff*/
.carouselimg,
.carousel-item {
    height: 400px;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.modal-contentImgEvent{
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 425px) {
    .modal-dialogImgEvent {
        margin:0;
    }
}

/*img stuff*/

.linkImg{
    background:url(./imgs/lights.jpg) no-repeat center center fixed;
    background-size: cover ;
    height: 500px;
    width:100%;
    padding: 0rem 0rem;
    padding-bottom: 1rem ;
}
.mainImg{
    max-height: 400px;
    width: auto;
    height: auto;
}
